header{
    background-color: #20222b; 
    color: white;
    margin: 0 0;
    width: 100vw;
    height: 10vh;

}
.header_title{
    margin: 0, 0, 3px;
}
h1{
    margin:0;
}
.hamburger-menu-button{
    align-items: center;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hamburger-menu-button > svg{
    fill: #FFF;
    width: 40px;
    height: 40px;
    
}
.hamburger-menu-button:hover{
    cursor: pointer;
}
.header-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-content-flex-container{
    display: flex;
    flex-direction: column;
}
.header-hamburger-menu-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-overlay{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}